flow3
[{"id":"fe5320ff.882c1","type":"http in","z":"b4df7289.67914","name":"","url":"/audio3","method":"get","swaggerDoc":"","x":224,"y":180,"wires":[["edc9597d.caea88"]]},{"id":"6d098742.c817d8","type":"http response","z":"b4df7289.67914","name":"","x":634.545488357544,"y":178.27268600463867,"wires":[]},{"id":"edc9597d.caea88","type":"template","z":"b4df7289.67914","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":429,"y":176.99996948242188,"wires":[["6d098742.c817d8"]]},{"id":"e0ced9ae.19274","type":"find-my-iphone","z":"b4df7289.67914","x":188.8487548828125,"y":450.63641357421875,"wires":[["2a99a62e.2aaa9a","126c8207.b094be"]]},{"id":"b413aeeb.f4af9","type":"inject","z":"b4df7289.67914","name":"Check weather every 3hrs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":199.01540120442723,"y":349.46978759765636,"wires":[["e0ced9ae.19274"]]},{"id":"2a99a62e.2aaa9a","type":"function","z":"b4df7289.67914","name":"Weather API URL","func":"if (msg.payload.modelDisplayName.valueOf() === \"iPhone\".valueOf())\n{\n    var url = \"https://twcservice.mybluemix.net/api/weather/v1/geocode/\"+msg.payload.location.latitude+\"/\"+msg.payload.location.longitude+\"/observations.json?language=en-US\";\n    msg.url = url;\n    return msg;\n}","outputs":1,"noerr":0,"x":467.848876953125,"y":380.13653564453125,"wires":[["b6ad0f20.1438e","95f885b4.8489f"]]},{"id":"fbc95792.5b03d8","type":"debug","z":"b4df7289.67914","name":"Display current weather for your location","active":false,"console":"false","complete":"payload","x":831.1822509765625,"y":340.9699401855469,"wires":[]},{"id":"b6ad0f20.1438e","type":"http request","z":"b4df7289.67914","name":"Get Current Weather","method":"GET","ret":"obj","url":"","tls":"","x":478.68206787109375,"y":453.05303955078125,"wires":[["fbc95792.5b03d8","3ce72e03.5cd822","321800a1.0b8cd8","2eb50ae3.54aece"]]},{"id":"83267b3b.651a28","type":"template","z":"b4df7289.67914","name":"Weather Channel Temperature in Fahrenheit","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"Temperature now from Weather Channel: {{payload}} degree Fahrenheit!","x":1243.7293701171875,"y":451.291259765625,"wires":[["39a70503.ce73da"]]},{"id":"3ce72e03.5cd822","type":"function","z":"b4df7289.67914","name":"Get Temperature data from Weather rest api","func":"return {payload:msg.payload.observation.temp};","outputs":1,"noerr":0,"x":839.705322265625,"y":453.17236328125,"wires":[["83267b3b.651a28","96d0768c.03fb78"]]},{"id":"96d0768c.03fb78","type":"switch","z":"b4df7289.67914","name":"Set temp threshold (cold, pleasant, hot)","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"45","vt":"str"},{"t":"gt","v":"75","vt":"str"},{"t":"btwn","v":"45","vt":"num","v2":"75","v2t":"num"}],"checkall":"true","outputs":3,"x":255.9674072265625,"y":699.2196655273438,"wires":[["5b3ac891.f9621"],["fd292aec.523d1"],["d86891e1.528c98"]]},{"id":"5b3ac891.f9621","type":"template","z":"b4df7289.67914","name":"Cold day warning","field":"payload","fieldType":"msg","syntax":"mustache","template":"Extremely cold day. Don't forget your jacket, hat and gloves.","x":579.5387573242188,"y":634.7909545898438,"wires":[["dbc69bff.b1f428","3441306.959315"]]},{"id":"fd292aec.523d1","type":"template","z":"b4df7289.67914","name":"Heat alert","field":"payload","fieldType":"msg","syntax":"mustache","template":"Hot day! Wear something light and go for cotton. Drink plenty of water. Don't forget your sunscreen,","x":546.5864868164062,"y":697.6124877929688,"wires":[["dbc69bff.b1f428","3441306.959315"]]},{"id":"d86891e1.528c98","type":"template","z":"b4df7289.67914","name":"Pleasant day message","field":"payload","fieldType":"msg","syntax":"mustache","template":"Beautiful, pleasant day. Enjoy the outdoors.","x":582.1580200195312,"y":769.8626098632812,"wires":[["dbc69bff.b1f428","3441306.959315"]]},{"id":"1e4a7317.88337d","type":"watson-text-to-speech","z":"b4df7289.67914","name":"","lang":"es-ES","langhidden":"es-ES","voice":"es-ES_LauraVoice","voicehidden":"","password":"","x":1266.3245849609375,"y":639.7554931640625,"wires":[["4581652d.f468d4"]]},{"id":"e4a6091b.354488","type":"websocket out","z":"b4df7289.67914","name":"","server":"9be0e2e8.1b3dd8","client":"","x":1486.41552734375,"y":688.4827270507812,"wires":[]},{"id":"4581652d.f468d4","type":"function","z":"b4df7289.67914","name":"Transform Text to Speech","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1299.142781575521,"y":748.3008422851564,"wires":[["e4a6091b.354488"]]},{"id":"dbc69bff.b1f428","type":"twilio out","z":"b4df7289.67914","service":"_ext_","twilio":"2de926c5.bfe572","from":"","number":"+19132192690","name":"Send text message on current temperature","x":996.3245849609375,"y":689.3386840820312,"wires":[]},{"id":"a44ffe8.620b38","type":"debug","z":"b4df7289.67914","name":"Display payload from your iphone","active":false,"console":"false","complete":"payload","x":450.3487548828125,"y":539.1364135742188,"wires":[]},{"id":"321800a1.0b8cd8","type":"ibmiot out","z":"b4df7289.67914","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"Weather1","deviceType":"WeatherDevice","eventCommandType":"update","format":"json","data":"temp:10","qos":0,"name":"Send to IBM IoT","service":"registered","x":755.68212890625,"y":273.4696350097656,"wires":[]},{"id":"126c8207.b094be","type":"function","z":"b4df7289.67914","name":"Get Only iPhone","func":"if (msg.payload.modelDisplayName.valueOf() === \"iPhone\".valueOf())\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":177.68206787109375,"y":539.1362915039062,"wires":[["a44ffe8.620b38"]]},{"id":"2eb50ae3.54aece","type":"function","z":"b4df7289.67914","name":"Get Pressure data from Weather rest api","func":"return {payload:msg.payload.observation.pressure};","outputs":1,"noerr":0,"x":832.3487548828125,"y":398.46966552734375,"wires":[["18d85423.5711bc"]]},{"id":"18d85423.5711bc","type":"template","z":"b4df7289.67914","name":"Weather Channel Pressure","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"Pressure now from Weather Channel: {{payload}}!","x":1190.6820068359375,"y":398.46966552734375,"wires":[["39a70503.ce73da"]]},{"id":"39a70503.ce73da","type":"debug","z":"b4df7289.67914","name":"Display current temperature","active":true,"console":"false","complete":"payload","x":1586.5155029296875,"y":401.80291748046875,"wires":[]},{"id":"95f885b4.8489f","type":"debug","z":"b4df7289.67914","name":"","active":true,"console":"false","complete":"false","x":481.24999999999983,"y":273.7499999999999,"wires":[]},{"id":"3441306.959315","type":"watson-translator","z":"b4df7289.67914","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":993.75,"y":638.125,"wires":[["1e4a7317.88337d","30f92091.bba948"]]},{"id":"30f92091.bba948","type":"debug","z":"b4df7289.67914","name":"Display message in local language","active":true,"console":"false","complete":"payload","x":1333.7499999999995,"y":553.7499999999998,"wires":[]},{"id":"9be0e2e8.1b3dd8","type":"websocket-listener","z":"","path":"/ws/audio3","wholemsg":"false"},{"id":"2de926c5.bfe572","type":"twilio-api","z":"b4df7289.67914","sid":"AC61faf1dccaf9f583834c797d1aeb3f17","from":"+1(913) 225-8397","name":"SMS"}]
