flow2
[{"id":"ff62acfe.d44958","type":"start virtual device","z":"f3a11733.480268","name":"Configure device type and ID","deviceId":"thermostat343","schema":"df11c33f.efa178","outputs":1,"x":513.75,"y":255,"wires":[["a6f5864.7ec4af8","8ba197a5.87756","9c456a09.9ea118"]]},{"id":"819bf9f1.13b7d","type":"generate event","z":"f3a11733.480268","deviceId":"thermostat343","schema":"df11c33f.efa178","evt":"27c1bb4a69ea","name":"Event generator","x":613.75,"y":455,"wires":[["76413b1e.badf1c","8f786e3f.a05e4"]]},{"id":"35a7a9e.d1d2056","type":"inject","z":"f3a11733.480268","name":"1. Register device and device type","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":203.75,"y":255,"wires":[["ff62acfe.d44958"]]},{"id":"8ba197a5.87756","type":"device-type-manager","z":"f3a11733.480268","auth":"bluemix","name":"Register type","apiKey":"","deviceType":"","classId":"Device","method":"Create","deviceTypeId":"","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":true,"x":853.75,"y":195,"wires":[["9c456a09.9ea118"]]},{"id":"571cbc35.761e24","type":"device-manager","z":"f3a11733.480268","auth":"bluemix","name":"Register device","apiKey":"","deviceType":"thermostat","method":"Create","deviceId":"","password":"","ignore":true,"x":933.75,"y":315,"wires":[["9c456a09.9ea118"]]},{"id":"a8226939.ca31e8","type":"device function","z":"f3a11733.480268","deviceId":"thermostat343","schema":"df11c33f.efa178","name":"Virtual device logic","func":"// Random Number Generator\nvar getRandomIntInclusive = function (min, max) {\n  return Math.round((Math.random() * (max - min + 1) + min) *100) / 100 ;\n}\n\n// Generate temp and humidity for the device event.\ntemp = getRandomIntInclusive(27, 45);// Deg C\n\nhumidity = getRandomIntInclusive(50, 75); // %\n\nreturn msg;","outputs":1,"noerr":0,"x":403.75,"y":455,"wires":[["819bf9f1.13b7d"]]},{"id":"76413b1e.badf1c","type":"ibmiot out","z":"f3a11733.480268","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"mydeviceid","deviceType":"mytype","eventCommandType":"myevent","format":"json","data":"{\"temp\":43}","qos":"","name":"Publish event","service":"registered","x":873.75,"y":455,"wires":[]},{"id":"6e5aba8c.a7736c","type":"comment","z":"f3a11733.480268","name":"Device Simulator Using Virtual Device Nodes connecting to Watson IoT Platform","info":"In this flow, the Virtual Device nodes are used \nto simulate the device behaviour. \n\n* The \"1. Register device and device type\" inject\nnode is used to initialize the virtual device \nstart the register device flow.\n\n* The \"2. Publish device event\" inject node is\nused to simulate the publication of an event by\nthe virtual device.\n\n* The \"Temperature Monitor\" subflow listens for\nevents and analyses the data.","x":633.75,"y":155,"wires":[]},{"id":"aa9fddac.461058","type":"comment","z":"f3a11733.480268","name":"Press to Publish an Event to Watson IoT Platform","info":"\"Virtual Device Logic\" has the logic to simulate the Temperature and Humidity.\n\n","x":213.75,"y":415,"wires":[]},{"id":"a6f5864.7ec4af8","type":"delay","z":"f3a11733.480268","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":753.75,"y":315,"wires":[["571cbc35.761e24"]]},{"id":"9c456a09.9ea118","type":"debug","z":"f3a11733.480268","name":"","active":false,"console":"false","complete":"true","x":1123.75,"y":255,"wires":[]},{"id":"c1cb71e6.b958a8","type":"inject","z":"f3a11733.480268","name":"2. Publish device event","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":163.75,"y":455,"wires":[["a8226939.ca31e8"]]},{"id":"2bc4d6bc.0a3a12","type":"comment","z":"f3a11733.480268","name":"Tips","info":"If you want to continuously send events to the IBM \nWatson IoT, then edit the \"Publish Device Event\"\nnode and set an interval to inject.\n\nAfter you deploy your changes, you will need to \ninitialize the simulator. So you will have to \npress \"1. Register and Initialize the device\" again.","x":116.21429443359375,"y":503.8691101074219,"wires":[]},{"id":"5c8a2df0.30a05c","type":"comment","z":"f3a11733.480268","name":"Press to create device type 'thermostat' and register device 'themostat01'","info":"This flow does the following  \n1. Creates a device type **thermostat** if it does not exist\n2. Registers a device instance **thermostat01**\n\nHowever its possible that the device-type **thermostat** \nand device **thermostat1** might already exist.\n\nThat is the reason for providing the radio button \n***Ignore Exception if ... Exists***\n\nDepending upon the radio-button selection, either the exception would be ignored or an error would be flagged.\n","x":294.46429443359375,"y":213.11510467529297,"wires":[]},{"id":"8f786e3f.a05e4","type":"debug","z":"f3a11733.480268","name":"","active":false,"console":"false","complete":"false","x":863.75,"y":515,"wires":[]},{"id":"df11c33f.efa178","type":"Device Schema","z":"","deviceType":"thermostat","props":[{"guid":"724eb78fb0f0","name":"temp","random":{"func":"floating","args":{"min":20,"max":30,"fixed":1}}},{"guid":"0b54b74c334d","name":"humidity","random":{"func":"floating","args":{"min":50,"max":75,"fixed":1}}},{"guid":"8295712b564e","name":"location","defaultValue":{"type":"json","value":"{\"longitude\" : 77.609342, \"latitude\" : 12.901377}"}}],"evts":[{"guid":"27c1bb4a69ea","name":"stat","payload":{"properties":{"0":"724eb78fb0f0","1":"0b54b74c334d","2":"8295712b564e","length":3,"prevObject":{"0":"724eb78fb0f0","1":"0b54b74c334d","2":"8295712b564e","length":3,"prevObject":{"0":{},"1":{},"2":{},"length":3,"prevObject":{"0":{"sizzle1480596884727":{"parentNode":[3287,43,true]}},"selector":".red-ui-editableList-item-content","context":{},"length":1},"context":{},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{}},"context":{}}}}]}]
