LT-TS-Flow
[{"id":"3e77d543.c1882a","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":100,"y":400,"wires":[["ae0082ac.51ff8","c0c482df.3f3b8","f3339d94.c9e4b"]]},{"id":"ae0082ac.51ff8","type":"function","z":"deb0d57.1c46528","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"x":290,"y":400,"wires":[["ff6ad0d9.00953","caeea5cc.b7cbd"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"deb0d57.1c46528","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":40,"v2":null},{"t":"gt","v":40,"v2":null}],"checkall":"true","outputs":2,"x":450,"y":400,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"deb0d57.1c46528","name":"cpu status","active":true,"complete":"false","x":798.75,"y":572.5,"wires":[]},{"id":"c0c482df.3f3b8","type":"debug","z":"deb0d57.1c46528","name":"device data","active":true,"console":"false","complete":"true","x":310,"y":480,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"deb0d57.1c46528","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":617,"y":359,"wires":[["dec22af1.4473c8"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"deb0d57.1c46528","name":"danger","template":"Temperature ({{payload}}) critical","x":620,"y":420,"wires":[["dec22af1.4473c8"]]},{"id":"cbe1a0b7.cd877","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"thermostat","eventCommandType":"update","format":"json","data":"temp:10","name":"Send to IBM IoT Platform","service":"registered","x":570,"y":120,"wires":[]},{"id":"5917a925.6a3c08","type":"inject","z":"deb0d57.1c46528","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"10","crontab":"","once":false,"x":110,"y":120,"wires":[["6b4a591c.014b18"]]},{"id":"6b4a591c.014b18","type":"function","z":"deb0d57.1c46528","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["cbe1a0b7.cd877","805c97ee.3ed9e8"]]},{"id":"805c97ee.3ed9e8","type":"debug","z":"deb0d57.1c46528","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":560,"y":180,"wires":[]},{"id":"86df0b6c.af90c8","type":"comment","z":"deb0d57.1c46528","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":100,"y":40,"wires":[]},{"id":"141b7c7.ad42a84","type":"comment","z":"deb0d57.1c46528","name":"1. Configure target","info":"","x":550,"y":80,"wires":[]},{"id":"c2dd8ed5.7dd7f","type":"comment","z":"deb0d57.1c46528","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":110,"y":160,"wires":[]},{"id":"7926c7b2.86d938","type":"comment","z":"deb0d57.1c46528","name":"Temperature Monitor","info":"","x":110,"y":300,"wires":[]},{"id":"188a5e87.e775a1","type":"comment","z":"deb0d57.1c46528","name":"Configure source","info":"","x":100,"y":360,"wires":[]},{"id":"caeea5cc.b7cbd","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"77b965e8.65c9cc","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":433.5,"y":343,"wires":[]},{"id":"f3339d94.c9e4b","type":"function","z":"deb0d57.1c46528","name":"humidity","func":"return {payload:msg.payload.d.humidity};","outputs":1,"noerr":0,"x":297,"y":308,"wires":[["a5d223f4.efa158"]]},{"id":"a5d223f4.efa158","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"77b965e8.65c9cc","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":453,"y":276,"wires":[]},{"id":"dec22af1.4473c8","type":"watson-translator","z":"deb0d57.1c46528","name":"","action":"translate","basemodel":"es-en","domain":"conversational","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":646.0000610351562,"y":488.25,"wires":[["5dad02b7.a252fc","9a506df7.aa017"]]},{"id":"f04bfb72.6712d8","type":"http in","z":"deb0d57.1c46528","name":"","url":"/audio","method":"get","swaggerDoc":"","x":196.25,"y":603.75,"wires":[["af68c9a5.618a98"]]},{"id":"69a75a5a.227eec","type":"http response","z":"deb0d57.1c46528","name":"","x":616.795488357544,"y":602.0226860046387,"wires":[]},{"id":"af68c9a5.618a98","type":"template","z":"deb0d57.1c46528","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":411.25,"y":600.7499694824219,"wires":[["69a75a5a.227eec"]]},{"id":"9a506df7.aa017","type":"watson-text-to-speech","z":"deb0d57.1c46528","name":"","lang":"es-ES","langhidden":"es-ES","voice":"es-ES_LauraVoice","voicehidden":"","format":"audio/wav","password":"","x":826.25,"y":412.5,"wires":[["edc99d81.c73e58"]]},{"id":"8c39795d.fa3ec8","type":"websocket out","z":"deb0d57.1c46528","name":"","server":"b28cab29.cb8ba8","client":"","x":838.0909423828125,"y":262.47723388671875,"wires":[]},{"id":"edc99d81.c73e58","type":"function","z":"deb0d57.1c46528","name":"Transform Text to Speech","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":839.5682373046875,"y":335.2953796386719,"wires":[["8c39795d.fa3ec8"]]},{"id":"77b965e8.65c9cc","type":"ui_group","z":"","name":"Default","tab":"9022492c.08a718","disp":true,"width":"6"},{"id":"b28cab29.cb8ba8","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"9022492c.08a718","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
